.trip-container {
  width: 80vw;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px auto;
}

.trip-logo {
  width: 6vw;
  h2 {
    color: $orange;
    margin-right: 10px;
    margin-bottom: 0px;
  }
}

.tod-container {
  display: flex;
  align-items: flex-end;
}

.tod-tab {
  flex-grow: 3;
  background-color: $orange;
  padding: 3px 6px;
  border-radius: 5px 5px 0px 0px;
  a {
    font-size: 15px;
  }
}

.day-activity {
  width: 100%;
  height: 60vh;
  background-color: rgba(0, 0, 0, .2);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.day-tab {
  display: flex;
  justify-content: center;
  width: 6vw;
  background-color: $orange;
  min-width: 15px;
  padding: 2px 5px;
  border-radius: 5px 0px 0px 5px;
}

.trip-content {
  width: 100%;
}

