.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
}

.map-image {
  max-width: 180px;
}

.map-container {
  width: 95%;
  margin: 0 auto;

}

.link-trip {
  margin: 15px 0;
  position: sticky;
  top: 10px;
}
