<% current_user.activities.each do |activity| %>
  <h2><%= activity.name %></h2>
  <%= link_to "Edit", edit_activity_path(activity)  %>
  <%= link_to "Delete", activity_path(activity), method: :delete %>
<% end %>

<%= link_to "Back to profile", user_path(current_user) %>
