<% current_user.activities.each do |activity| %>
  <h2><%= activity.description %></h2>
  <%= link_to "Edit", edit_activity_path(activity)  %>
  <%= link_to "Delete", activity_path(activity), method: :delete %>
<% end %>
