<% current_user.reviews.each do |review| %>
  <h2><%= review.rating %></h2>
  <%= link_to "Edit", edit_activity_review_path(review.activity_id, review)  %>
  <%= link_to "Delete", activity_review_url(review.activity_id, review), method: :delete %>
<% end %>

<%= link_to "Back to profile", user_path(current_user) %>
