@import "show";

#viewport {
    width: 100%;
    height: 500px;
    position: relative;
}

#viewport .stack {
    width: 100%;
    height: 80%;
    // position: absolute;
    border-radius: 10px;
    padding: 0;
    display: flex;
    justify-content: center;
}

#viewport li {
    width: 340px;
    height: 96%;
    list-style: none;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    box-shadow: 0 0 2px rgba(0,0,0,.2), 1px 1px 1px rgba(0,0,0,.2);
    line-height: 0px;
    text-align: center;
    font-size: 100px;
    cursor: default;
}

#viewport p {
  font-size: 20px;
}


#control {
    position: absolute; bottom: 30px; left: 0; right: 0; text-align: center; font-size: 0;
}

#control button {
    background: #FFFFFF; color: #373737; font-weight: bold; border: none; font: normal 18px/24px 'Helvetica Neue', Helvetica, Arial, freesans, sans-serif; margin: 0 5px; padding: 10px 15px; cursor: pointer; box-shadow: 0 2px 0 #63211F; outline: none; position: relative;
}
#control button:active {
    background: #63211F; color: #FFFFFF; bottom: -2px; box-shadow: none;
}

#source {
    width: 500px; margin: 20px auto;
}

#source a {
    color: #C7433E;
}

.swiped-right {
  transition: all 0.7s ease;
  transform: translateX(120vw) rotate(20deg);
}

.swiped-left {
  transition: all 0.7s ease;
  transform: translateX(-120vw) rotate(-20deg);
}

.fa-thumbs-up:before {
    font-size: 65px;
}

.fa-thumbs-down:before {
    font-size: 65px;
}

.trip-btn {
  text-align: center;
}

.activity-container{
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}


.activity-photo {
  height: 80%;
  width: 95%;
  margin-top: 10px;
  position: relative;
  border-radius: 5px;
}

.activity-name h3 {
  position: absolute;
  bottom: 5px;
  left: 5px;
  margin: 0;
  color: white;
  font-family: $body-font;
}


.activity-photo img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.activity-card-icon {
  font-size: 25px;
}

.activity-icons {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
}

.activity-icons i {
    color: $gray;
    opacity: 0.8;
}

.activity-rating {
  position:absolute;
  bottom: 0;
  left:0;
  padding: 10px;
  display: flex;
}

.fa-star {
  font-size: 20px;
  color: #F4CC04;
}

.star {
  padding: 0;
  margin: 0;
}

#plan_trip_link {
  display: block;
  width: max-content;
  margin: auto;
  padding: 10px 15px;
  background-color: #F86524;
  color: white;
  border-radius: 5px;
  &:hover {
    background-color: #ffb291;
  }
}


.thum-btns {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
}

<<<<<<< HEAD
=======

.isDisabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.isDisabled > a {
  color: black;
  display: inline-block;  /* For IE11/ MS Edge bug */
  pointer-events: none;
  text-decoration: none;
}


>>>>>>> 2cc7ee3cf92b57e393cbb69990e51efd59df9263
