@import "show";
@import "new";

#viewport {
    position: relative;
    flex-grow: 1;
}

#viewport .stack {
    width: 100%;
    height: 100%;
    // position: absolute;
    border-radius: 10px;
    padding: 0;
    display: flex;
    justify-content: center;
}

#viewport li {
    width: 100%;
    height: 100%;
    list-style: none;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    box-shadow: 0 0 2px rgba(0,0,0,.2), 1px 1px 1px rgba(0,0,0,.2);
    line-height: 0px;
    text-align: center;
    font-size: 100px;
    cursor: default;
}

#viewport p {
  font-size: 20px;
}


#control {
    position: absolute; bottom: 30px; left: 0; right: 0; text-align: center; font-size: 0;
}

#control button {
    background: #FFFFFF; color: #373737; font-weight: bold; border: none; font: normal 18px/24px 'Helvetica Neue', Helvetica, Arial, freesans, sans-serif; margin: 0 5px; padding: 10px 15px; cursor: pointer; box-shadow: 0 2px 0 #63211F; outline: none; position: relative;
}
#control button:active {
    background: #63211F; color: #FFFFFF; bottom: -2px; box-shadow: none;
}

#source {
    width: 500px; margin: 20px auto;
}

#source a {
    color: #C7433E;
}

.swiped-right {
  transition: all 0.7s ease;
  transform: translateX(120vw) rotate(20deg);
}

.swiped-left {
  transition: all 0.7s ease;
  transform: translateX(-120vw) rotate(-20deg);
}

.categoriesfiltered {
  display: flex;
}

.cat {
  background-color: $orange;
  color: white;
  padding: 2px 5px;
  margin: 5px;
  border-radius: 5px;
}

.text {
  margin: 0;
  padding: 0;
}

.endoflist {
  position: fixed;
  top: 35%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    text-align: center;
  }
}

.noactivities {
  margin-top: 250px;
  margin-bottom: 250px;
}

.trip-btn {
  text-align: center;
}

.activity-container{
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}


.activity-photo {
  height: 85%;
  width: 95%;
  margin-top: 10px;
  position: relative;
  border-radius: 5px;
}

.activity-name {
  justify-content: left;
}

.activity-name h3 {
  position: absolute;
  bottom: 5px;
  left: 5px;
  margin: 0;
  color: white;
  font-family: $body-font;
}


.activity-photo img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.activity-card-icon {
  font-size: 25px;
}

.activity-icons {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
}

.activity-icons i {
    color: $gray;
    opacity: 0.8;
}

.activity-rating {
  position:absolute;
  bottom: 0;
  left:0;
  padding: 10px;
  display: flex;
}

.fa-star {
  font-size: 20px;
  color: #F4CC04;
}

.star {
  padding: 0;
  margin: 0;
}

#plan_trip_link {
  display: block;
  width: 60%;
  margin: auto;
  padding: 10px 15px;
  background-color: #F86524;
  color: white;
  border-radius: 5px;
  &:hover {
    background-color: #ffb291;
  }
}

.thum-btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}

.choicebutton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  font-size: 15px;
  text-align: center;
  margin: 0;
  padding: 0;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

.y {
    transform: rotate(15deg);
    color: $orange;
    font-family: $headers-font;
}

.n {
    transform: rotate(-15deg);
    color: $orange;
    font-family: $headers-font;
}

.isDisabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.isDisabled > a {
  color: black;
  display: inline-block;  /* For IE11/ MS Edge bug */
  pointer-events: none;
  text-decoration: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(247,101,35, 0.7);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(247,101,35, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(247,101,35, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(247,101,35, 0.7);
    box-shadow: 0 0 0 0 rgba(247,101,35, 0.7);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(247,101,35, 0);
      box-shadow: 0 0 0 10px rgba(247,101,35, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(247,101,35, 0);
      box-shadow: 0 0 0 0 rgba(247,101,35, 0);
  }
}

