.header-show {
  margin-top: 15px;
}

.image-show {
  background-size: cover;
  background-position: center;
  height: 35vh;
  width: 100%;
  border-radius: 5px;
}
.image-contain {
  display: flex;
  justify-content: center;
}
.show-rating {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  p {
    padding: none;
  }
}

.show-bold {
  p {
    font-weight: bold;
    margin: 0;
  }
  display: flex;
  align-items: center;
}

.description {
  text-align: justify;
}

.userphoto {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: red;
  margin-right: 10px;
}

.userinfo {
  display: flex;
  align-items: center;
}

.tripinfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  p {
    text-align: right;
  }
}

.otherusers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    margin: 0;
  }
}

.fa-thumbs-up {
    color: black;
    font-size: 45px;
    padding: 13px;
    background-color: white;
    border-radius: 50%;
    border: 4px solid #f86524;
}

.fa-thumbs-down {
    color: black;
    font-size: 45px;
    padding: 13px;
    background-color: white;
    border-radius: 50%;
    border: 4px solid #f86524;
}

.thum-vote {
    display: flex;
    justify-content: space-around;
}

#thumbs-show {
  margin: 40px 0px;
}

div.thum-btns {
    // padding-top: 25px;
}

#plan_trip_link {
  padding-top: 25px;
}

