  <div class="activity-container">
    <%= link_to activity_path(activity) + '?days=' + (params[:days] || ''), class:'activity-show-link' do %> <!-- is this sending the cardIds? -->
      <div class="activity-photo"><%= cl_image_tag activity.photo %>
    <% end %>
      <div class="activity-name">
        <h3><%= activity.name %></h3>
      </div>
    </div>
    <div class="activity-icons d-flex">
      <% activity.categories.each do |category| %>
          <div class="mr-2">
            <i class="<%= category.icon %> activity-card-icon"></i>
          </div>
      <% end %>
    </div>
    <div class="activity-rating">
      <% if activity.reviews.empty? %>
        <% 5.times do %>
          <div class="star">
            <i class="far fa-star"></i>
          </div>
        <% end %>
      <% else %>
        <% activity.reviews.each do |review| %>
          <% review.rating.to_i.times do %>
            <div class="star">
              <i class="fas fa-star"></i>
            </div>
          <% end %>
          <% (5 - review.rating.to_i).times do %>
            <div class="star">
              <i class="far fa-star"></i>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>





