
<p> No:<%= @activities.length %> </p>

<div id="viewport">
  <ul class="stack">
    <% @activities.each do |activity| %>
      <li><p><%= activity.name %></p></li>
    <% end %>
  </ul>
</div>

<button class="btn btn-primary">Generate Trip</button>



<%= render 'activities/filter' %>
