.my-activity-head {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), asset-url('travelscooter.jpg');
  height: 25vh !important;
  margin-top: 10px;
}
.activity-new {
  margin-top: 10px;
}
.link-back {
  top: 10px;
  margin-left: 20px;
}

.activity-card {
  width: 100%;
  height: 200px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.activity-display {
  margin-top: 20px;
}

.padding-activity {
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 15px;
}
.my-show {
  width: 100%;
  height: 110px;
  object-fit: cover;
}

.activity-info {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.update-activity {

}
