.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  p {
    font-size: 14px;
  }
  margin-top: -20%;
}

.cover-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), asset-url('map2.jpg');
  background-position: center;
  background-size: cover;
  height: 25vh;
}

.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.bio-container {
  padding-bottom: 10px;
  p {
    font-size: 15px;
  }
}

.name-container {
  padding: 5vw;
  h2 {
    font-size: 20px;
  }
  background-color: white;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.boxrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 3px;
}

.user-link {
  border: none;
  margin-bottom: 5px;
  p {
    color: $orange;
    font-size: 15px;
    text-decoration: none;
    margin: 0;
  }
  i {
    color: $gray;
    font-weight: bold;
    text-decoration: none;
    opacity: 0.5;
  }
  &:hover {
    opacity: .5;
  }
}

#country-flag {
  font-size: 40px;
  position: absolute;
  right: 0px;
  bottom: -25px;
}

#user_nationality {
  width: 100%;
}


.user-link-other {
border: none;
  margin-bottom: 5px;
  position: relative;
  p {
    color: $orange;
    font-size: 15px;
    text-decoration: none;
    margin: 0;
  }
  i {
    color: $gray;
    font-weight: bold;
    text-decoration: none;
    opacity: 0.5;
  }
  &:hover {
    opacity: .5;
  }
 & .ours {
  position: absolute;
  top: 27px;
  right: 0;
 }
}




